.heading {
  /* padding: 10px; */
  z-index: 0;
  position: relative;
  color: white;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/images/paint.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* your color filter */
  filter: brightness(0) saturate(100%) invert(11%) sepia(63%) saturate(2415%) hue-rotate(224deg)
    brightness(91%) contrast(94%);

  z-index: -1;
}
