@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
}

/* nav links paint effect */
@layer components {
  .nav-link-splash {
    @apply relative z-10 px-4 py-2 overflow-visible inline-block transition-all duration-300;
  }

  .nav-link-splash::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140%;
    height: 140%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(2deg) brightness(103%) contrast(104%);
    background-image: url('/images/splash.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* Αρχική κατάσταση: Μετατοπισμένο αριστερά και κρυμμένο */
    transform: translate(-60%, -50%) scale(1.5);
    opacity: 0;

    /* Το κλειδί: Κόβουμε την εικόνα ώστε να φαίνεται 0% από αριστερά */
    clip-path: inset(0 100% 0 0);

    z-index: -1;
    /* Ομαλή μετάβαση για το clip-path και το transform */
    transition:
      clip-path 0.2s ease-in-out,
      transform 0.4s ease-in-out,
      opacity 0.3s;
  }

  .nav-link-splash:hover::before {
    opacity: 0.9;
    /* Τελική κατάσταση: Αποκαλύπτουμε όλο το πλάτος (0% κόψιμο) */
    clip-path: inset(0 0 0 0);
    /* Μικρή κίνηση προς τα δεξιά καθώς "βάφει" */
    transform: translate(-50%, -50%) scale(2.8, 1.5);
  }
  .nav-link-splash:hover {
    color: black;
  }
}
